.page {
    display: none;
}



.home-title {
    color: red;
    font-family: roboto;
    font-weight: 800;
    font-size: 60px;
}

.home-des {
    color: white;
    font-family: roboto;
    font-weight: 600;
    font-size: 30px;
    color: grey;
}

.vote-logo {
    width: 40px;
    height: 60px;
}

.page.active {
    display: block;
}

.jumbotron {
    background-color: #f8f9fa;
}

.vote-option {
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    background-color: #e9ecef;
}

.vote-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.vote-text {
    font-size: 1.25em;
    color: #007bff;
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

#resultsContent {
    font-size: 1.2em;
    line-height: 1.5;
}

#registrationMessage,
#votingMessage,
#loginMessage {
    font-weight: bold;
}

.red {
    color: red;
}

.vote-btn {

    color: white;
    height: 40px;
    width: 120px;
    border-width: 0px;
    border-radius: 4px;
}

.form-control:invalid {
    border-color: #dc3545;
}

.form-control:valid {
    border-color: #28a745;
}